<h1>Demo#index</h1>

<p>Hello from index!</p>


<a href="/demo/hello">Hello Link 1</a>
<%= link_to "Hello link 2", {:controller => "demo", :action => "hello"} %>
<%= link_to "Hello with parameter", {:controller => "demo", :action => "hello", :id => 5, :page => 5} %>



